body {
  font-family: sans-serif;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7px;
}

.progress-bar {
  height: 20px;
  width: 500px;
  background-color: silver;
  border: 1px solid black;
  border-radius: 15px;
  overflow: hidden;
  position: relative;
}

.progress-bar span {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.progress-bar div {
  height: 100%;
  width: 20%;
  background-color: lightseagreen;
}
